<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="maven-task" version="1">
	<about>
		<name>Maven task plugin</name>
		<description>Maven task plugin for GoCD</description>
		<version>${project.version}</version>
		<target-go-version>14.1</target-go-version>
		<vendor>
			<name>Philipp Kolb</name>
			<url>https://github.com/pkdevel</url>
		</vendor>
		<target-os>
			<value>Linux</value>
			<value>Windows</value>
			<value>Mac OS X</value>
		</target-os>
	</about>
</go-plugin>